*{
   margin: 0;
   padding: 0;
   
}

 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

form{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0,396);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 3rem;
    background-color:transparent;
    
}

input{
    margin: .5rem;
    outline: none;
    padding: .5rem;
}

#submit{
    background-color: black;
    border: none;
    color: beige;
    border-radius: 3rem;
    width: 4rem;
    cursor: pointer;
    transition: all;

}

body{
    background-image: url("my\ pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#d{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: white;
    backdrop-filter: blur(10px);
    font-style: italic;
    font-style: bold;
    border-radius: none;
    outline: none;
    
}
#red{
    background-color:rgb(206, 187, 196);
}
#e{
    padding-right: 10px !important;
}